[submodule "bin2tap"]
	path = bin2tap
	url = https://github.com/lexbailey/bin2tap.git
[submodule "bas2tap"]
	path = bas2tap
	url = https://github.com/lexbailey/bas2tap.git
[submodule "zxemf-data"]
	path = zxemf-data
	url = git@github.com:aquila12/zxemf-data.git
